.center {
  margin: auto;
}

.message-card-box {
  width: 100%;
}

.message-card {
  margin: auto;
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.text-center {
  text-align: center;
}

div {
  display: block;
}

.mt-4 {
  margin-top: 1rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (min-width: 640px) {
  .sm:text-5xl {
    font-size: 3rem;
  }
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}
.leading-normal {
  line-height: 1.5;
}
.text-3xl {
  font-size: 1.875rem;
}
.font-extrabold {
  font-weight: 800;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-indigo-600 {
  --text-opacity: 1;
  color: #5a67d8;
  color: rgba(90, 103, 216, var(--text-opacity));
}

@media (min-width: 640px) {
  .sm:text-5xl {
    font-size: 3rem;
  }
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}
.leading-normal {
  line-height: 1.5;
}
.text-3xl {
  font-size: 1.875rem;
}
.font-extrabold {
  font-weight: 800;
}

user agent stylesheet h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.items-start {
  align-items: flex-start;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}

.text-gray-500 {
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.p-5 {
  padding: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.bg-gray-100 {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.hover:text-indigo-600:hover {
  --text-opacity: 1;
  color: #5a67d8;
  color: rgba(90, 103, 216, var(--text-opacity));
}
.duration-500 {
  transition-duration: 0.5s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}
.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}
.leading-none {
  line-height: 1;
}
.font-medium {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a {
  background-color: transparent;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

user agent stylesheet li {
  text-align: -webkit-match-parent;
}
.text-left {
  text-align: left;
}

.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.w-12 {
  width: 3rem;
}
.mr-4 {
  margin-right: 1rem;
}
.h-12 {
  height: 3rem;
}
.rounded-full {
  border-radius: 9999px;
}
