.hero-image {
  max-height: 70%;
  border-radius: 50%;
  margin-left: 10rem;
  filter: brightness(1.1) grayscale(90%);
  border-radius: 39% 61% 81% 20%/38% 29% 71% 62%;
}

.hero-image:hover {
  filter: grayscale(10%);
}
