.markdown {
  @apply text-lg leading-relaxed text-gray-300;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul {
  @apply list-disc pl-8;
}

.markdown ol {
  @apply list-decimal pl-8;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug text-white font-semibold;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug text-white font-semibold;
}

.markdown a {
  color: #10b981;
  display: inline-block;
  position: relative;
  font-weight: 500;
}

.markdown a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #10b981;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.markdown a:hover::after,
.markdown a:focus::after {
  width: 100%;
}

.markdown img {
  @apply flex justify-center w-full my-6 rounded-lg;
}

.markdown pre code {
  font-family: "Fira Code", monospace;
  background-color: #1a1a1a;
  color: #e5e7eb;
  padding: 16px;
  border-radius: 8px;
  display: block;
  overflow-x: auto;
  line-height: 1.6;
  white-space: pre;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border: 1px solid #2a2a2a;
}

.markdown code {
  font-family: "Fira Code", monospace;
  background-color: #1a1a1a;
  color: #10b981;
  padding: 3px 8px;
  border-radius: 4px;
  display: inline;
  white-space: nowrap;
  border: 1px solid #2a2a2a;
}

.markdown pre code::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: -2.5em;
  text-align: right;
  color: #555;
}

.markdown blockquote {
  @apply border-l-4 border-green-400/50 pl-4 italic text-gray-400 bg-[#1a1a1a] py-3 pr-4 rounded-r-lg;
}

