.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul {
  @apply list-disc pl-8;
}

.markdown ol {
  @apply list-decimal pl-8;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  color: #0070f3;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.markdown a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #0070f3;
  transform: translateX(-50%);
  transition: width 1s;
}

.markdown a:hover::after,
.markdown a:focus::after {
  width: 100%;
}

.markdown img {
  @apply flex justify-center w-full my-2;
}

.markdown pre code {
  font-family: "Fira Code", monospace;
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 12px;
  border-radius: 8px;
  display: block;
  overflow-x: auto;
  line-height: 1.6;
  white-space: pre;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.markdown code {
  font-family: "Fira Code", monospace;
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline;
  white-space: nowrap;
}

.markdown pre code::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: -2.5em;
  text-align: right;
  color: #888;
}
