.main {
  width: auto;
  padding: 20px 10px 0 10px;
  margin: 0px auto;
  margin-top: 4rem;
  /* background: black!important; */
}
.greet-main {
  width: 90%;
  padding: 20px 10px 0 10px;
  margin: 0px auto;
  margin-top: 4rem;
  filter: grayscale(10%);
}

.myimage {
  max-height: 70%;
  border-radius: 50%;
  margin-left: 10rem;
  filter: brightness(1.1) grayscale(90%);
}

.gretting-main {
  width: 90%;
  padding: 20px 10px 0 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  margin-top: 80px;
  font-size: 55px;
  line-height: 1.1;
  font-family: "sacramento", "Space Mono";
  margin-top: 1em;
  color: #133b4f;
  font-weight: bolder;
}

.celeb {
  margin-left: 35px;
  font-size: 2rem;
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Space Mono";
}

.greeting-text-p {
  font-size: 30px;
  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
}

.greeting-text-p2 {
  font-size: 1rem;
  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
}

.greeting-image-div > * {
  max-width: 80%;
  height: auto;
  border-radius: 39% 61% 81% 20%/38% 29% 71% 62%;
}

.greeting-image-neon > * {
  max-width: 70%;
  border-radius: 50%;
  margin-left: 5rem;

  /* NEON Effect */
  border: 0.1rem solid #fff;

  box-shadow: 0 0 5px #fff, inset 0 0 5px #fff, 0 0 10px #800080,
    inset 0 0 10px #800080, 0 0 10px #800080, inset 0 0 5px #800080;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p,
  .greeting-text-p2 {
    font-size: 18px !important;
    margin-right: 0px;
    line-height: normal;
    text-align: justify;
  }
  .greet-main {
    margin-top: 0;
  }

  .greeting-main {
    flex-direction: column;
  }
  .greeting-text-div {
    order: 2;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .greeting-image-div > * {
    max-width: 80%;
    height: auto;
    margin: auto;
    order: 1;
  }

  .myimage {
    margin: auto;
    display: block;
  }
}
