.stats-main {
  width: 100%;
  justify-content: center;
  margin: auto;
}

.basic-stats {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.8rem;
}

.stats-heading-div {
  display: flex;
  margin-bottom: 80px;
}

.blog-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
  margin-top: 80px;
}

.blog-heading-div > * {
  flex: 1;
}

.stats-heading-div > * {
  flex: 1;
}

.address-heading-div > * {
  flex: 1;
}

.stats-heading-img-div {
  align-items: center;
  justify-content: center;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.stats-heading-text-div {
  text-align: center;
}

.blog-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  text-align: center;
}

.stats-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.stats-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Space Mono";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.blog-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Space Mono";
  line-height: 1.1;
  text-align: center;
  margin-top: 40px;
}

.address-heading-text {
  font-size: 30px;

  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.stats-header-detail-text {
  font-size: 20px;
  line-height: 28px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;

  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Space Mono";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.margin-start-40 {
  margin-inline-start: 10px;
}
.margin-end-40 {
  margin-inline-end: 10px;
}

.field input,
.field textarea {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.padding-bottom--24 {
  padding-bottom: 24px;
}

.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

@media (max-width: 1380px) {
  .stats-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }

  .blog-heading-text {
    font-size: 50px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .stats-heading-text {
    font-size: 30px;
    margin-top: 30px;
  }

  .blog-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .blog-heading-div {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 60px;
  }

  .blog-heading-text-div {
    margin-top: 40px;
  }

  .address-heading-text-div {
    margin-top: 40px;
  }

  .stats-heading-div {
    flex-direction: column;
  }

  .stats-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}
