.footer-text {
  text-align: center;
  /* color: #868e96; */
  font-weight: inherit;
 
  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 0;
  padding: 30px;
}

.footer-div {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-text a:hover {
  color: #ee6950 !important;
}
