@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px "Space Mono", Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.custom-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%);
  transition: width 1s;
}

.custom-underline:hover::after,
.custom-underline:focus::after {
  width: 100%;
}

/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
