.experience-accord {
  margin: 50px;
}

.accord-panel {
 
  font-family: "Space Mono";
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
